{% extends 'base.html.twig' %}

{% block title %}
	Products
{% endblock %}

{% block testblock %}

<h1>Product List</h1>
<div class="jumbotron">
	<table class="table">
		<thead>
		    <tr>
		      <th>Id</th>
		      <th>Product Name</th>
		      <th>Quantity</th>
		      <th>Price</th>
		      <th>Actions</th>
		    </tr>
		  </thead>  
	  <tbody>
	{% for i in data %}  
	    <tr>
	      <th>{{i.id}}</th>
	      <td>{{i.name}}</td>
	      <td>{{i.quantity}}</td>
	      <td>{{i.price}}</td>
	      <td>
	      	<a href="/product/show/{{i.id}}" class="btn btn-success"> View </a>
	      	<a href="#" class="btn btn-danger delete"> Delete </a>
	      </td>
	    </tr>
	{% endfor %}
	  </tbody>
	</table>
</div>

{% endblock %}

{% block javascripts %}

	<script>

		$(".delete").click(function(){
			alert("This is not working yet!");
		});

	</script>

{% endblock %}